<!-- <% provide(:title, "Home") %>  -->
<!-- <h1>Sample App</h1> <p>  This is the home page for the  <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>  sample application. </p> -->
<div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>
    <h2>
        This is the home page for the
        <a href="https://www.railstutorial.org/">Ruby on Rails
            Tutorial</a>
        sample application.
    </h2>
    <%= link_to "Sign up now!" , signup_path , class: "btn btn-lg btnprimary" %>
</div>
<%= link_to image_tag("rails.svg", alt: "Rails logo" , width: "200" ), "https://rubyonrails.org/" %>